<?xml version="1.0" encoding="UFT-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.Logback.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger.name "ca.jrvs.apps.stockquote" level="debug" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>